<div class="mx-8">
    <br/>
    <a href="/admin/categorias/add"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Criar Categoria</button></a>
    <br/>
    <h2>Lista de Categorias: </h2>
    <hr><br/>

    {{#each categorias}}
        <div>
            <h2>Categoria: {{nome}}</h2>
            <h4>SLUG: {{slug}}</h4>
            <small>Criado em: {{date}}</small>
            <a href="/admin/categorias/edit/{{_id}}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editar</button></a>
            <hr>
            <br/>
        </div>
    {{else}}

    {{/each}}

</div>